@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.sami {
  width: 100%;
  max-width: 420px;
  min-height: 460px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: dodgerblue;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.label,
.button {
  margin-top: 1rem;
}

.button {
  padding: 0.5rem;
}

.line {
  display: inline-block;
}
