@use "./variables" as v;
@use "./mixins" as *;

body {
  font-family: v.$primary-font-family;
}

.contentWrapper {
  margin-left: 1.625rem;
  margin-right: 1.625rem;
}

.mainwrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: v.$bg-color;
}

.contentPadding {
  padding-left: v.$padding;
  padding-right: v.$padding;
}

.whiteText {
  color: white;
}

.darkText {
  color: black;
}

.white {
  background-color: white;
}

.white-secondary {
  background-color: v.$bg-color;
}

.dark-primary {
  background-color: v.$black-theme-primary;
}

.dark-secondary {
  background-color: v.$black-theme-secondary;
}

.hiddenDisplayBlock {
  display: none;
  @include mdMinBreakPoint {
    display: block;
  }
}

.buttonPrimary {
  border: none;
  background-color: v.$primaryColor;
  border-radius: 0.3rem;
  padding: 0.75rem 1.75rem;
  font-weight: 700;
  transition: all 0.2s;
  color: white;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.buttonSecondary {
  @extend .buttonPrimary;
  background-color: v.$secondaryColor;
  color: v.$accentTextColor;

  &:hover {
    opacity: 1;
    background-color: v.$secondaryAccentColor;
  }
}

.buttonSecondaryDark {
  @extend .buttonPrimary;
  background-color: v.$black-theme-accent;
  &:hover {
    opacity: 1;
  }
}

.lightText {
  color: v.$lightTextColor;
}

.hiddenDisplayFlex {
  display: none;

  @include mdMinBreakPoint {
    display: flex;
  }
}
