$screen-md: 48em; //768px
$screen-lg: 62em; //992px

//theme colors

$primaryColor: #5964e0;
$secondaryColor: #eeeffc;
$bg-color: #f4f6f8;

$secondaryAccentColor: #d5d6fb;

//black theme colort
$black-theme-primary: #121721;
$black-theme-secondary: #19202d;
$black-theme-accent: #252b38;

//text colors

//font size

$primary-font-family: "Kumbh Sans", sans-serif;

$padding: 1.5rem;

$fontNormal: 1rem;

$lightTextColor: #6e8098;
$mainTextColor: black;
$accentTextColor: #5964e0;
$whiteTextColor: white;
